@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Raleway", "sans-serif";
}

body {
  @apply bg-neutral-100 font-display font-medium;
}
